.tableWrapper {
  margin: -24px -24px 24px -24px;
}

.row {
  color: #fff;

  &:hover {
    background-color: #555;
  }
}

.iconCell {
  width: 24px;
  text-align: right;
}

.iconCellLoading {
  text-align: center;
  font-weight: bold;
  color: #fff !important;
}

.isActive {
  background-color: #698a93 !important;
  font-weight: bold;
}

.hwDeviceInfo {
  font-weight: normal;
}
